
@using LibraryProject.Models;
@using LibraryProject.Identity;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Index";
}
@model IEnumerable<LibraryProject.Models.MemberRead>
<h2>Index</h2>
<section>
    <div class="container">
        <div class="row">

            <div class="col-12">
                <!--search-->
                @using (Ajax.BeginForm("Index", "member", new AjaxOptions
    {
        UpdateTargetId = "searchedTable",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "Post"


    }))

    {

            <div class="form-inline mb-2">
                @Html.TextBox("txtSearch", null, new { @class = "form-control mr-2", id = "txtSearch" })
                <input type="submit" class="btn btn-default" value="Search" />
            </div>
}

                <!--features_items-->
                <h2 class="title text-center">Books</h2>
            </div>
            @foreach (var item in Model)
            {
                <div class="col-sm-3">
                    <div class="product-image-wrapper text-center rounded shadow p-4 bg-light my-2">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <p>@item.book.name</p>
                                <p>@item.Member.User.FirstName</p>

                            </div>
                            @{
                                if (!item.ReturnBook)
                                {
                                    <p class="badge badge-warning">Not Returned</p> <br />
                                    @Html.ActionLink("return Book", "returnBorrowBook", new { book_id = item.BookId, member_id = item.MemberId }, new { @class = "btn btn-info" })


                                }
                            }
                        </div>
                    </div>
                </div>

            }

        </div>@*row*@
    </div>@*container*@
</section>
